<%= link_to street_cards_tagged_path(@street,tag), data: { turbo_frame: 'cards' }, class:"inline-block bg-lightgreen hover:bg-razzmicberry rounded-full px-3 py-1 text-sm font-semibold text-isabellinewhite hover:text-isabellinewhite mr-2 mb-2 print:text-[10px] print:px-1 print:py-0 print:pb-4 print:rounded-md print:h-[11px]" do %>
<span class=" print:relative print:bottom-[3px]">#<%= tag.name %></span>
<% end %>