@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

/* Default State */
div#more-tags, div#more-filters {
   display:none;
}

/* Toggled State */
input#toggle-more:checked ~ div#more-tags {
   display:inline;
}

input#toggle-filters:checked ~ div#more-filters {
	display:inline;
}

input#toggle-more, input#toggle-filters {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

div.trix-content a {
	@apply no-underline hover:underline underline-offset-1 font-bold text-razzmicberry
}

@import 'actiontext.css';