@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

/* Default State */
div#more-tags, div#more-filters {
   display:none;
}

/* Toggled State */
input#toggle-more:checked ~ div#more-tags {
   display:inline;
}

input#toggle-filters:checked ~ div#more-filters {
	display:inline;
}

input#toggle-more, input#toggle-filters {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

@layer components {
	
	div.trix-content a, .trix-editor a {
		@apply no-underline hover:underline underline-offset-1 font-bold text-razzmicberry;
	}

	.nav-link {
		@apply text-isabellinewhite bg-razzmicberry hover:text-grapeblack hover:bg-fluogreen font-bold uppercase py-1 px-3 rounded-lg inline-block;
	}

	.nav-selected {
		@apply text-grapeblack bg-fluogreen font-bold uppercase py-1 px-3 rounded-lg inline-block;
	}
	
	.like-button {
		@apply border hover:ring-2 hover:ring-offset-0 ring-razzmicberry border-razzmicberry mb-1 font-bold py-1 px-3 rounded-full inline-flex text-sm;
	}
}

/* Tailwind Override */
.trix-editor {
    width: 100%;
}

.trix-editor h1 {
    font-size: 1.25rem !important;
    line-height: 1.25rem !important;
    margin-bottom: 1rem;
    font-weight: 600;
}

.trix-editor a {
    text-decoration: underline;
}


.trix-editor a:not(.no-underline) {
    text-decoration: underline;
}

.trix-editor a:visited {
    color: purple;
}

.trix-content ul, .trix-editor ul {
    list-style-type: disc;
    padding-left: 1rem;
}

.trix-editor ol {
    list-style-type: decimal;
    padding-left: 1rem;
}

.trix-editor pre {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-family: monospace;
    font-size: 1.5em;
    padding: 0.5em;
    white-space: pre;
    background-color: #eee;
    overflow-x: auto;
}

.trix-editor blockquote {
    border: 0 solid #ccc;
    border-left-width: 0px;
    border-left-width: 0.3em;
    margin-left: 0.3em;
    padding-left: 0.6em;
}


/* dropdown menus as inspried from https://www.w3schools.com/css/css_dropdowns.asp */


/* Style The Dropdown Button */
.dropbtn {
  @apply mt-2 rounded-lg py-1 px-5 text-white font-medium text-sm;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  /*background-color: #3e8e41;*/
}


@import 'actiontext.css';